
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMaterialInterior</title>
</head>
<body>
    <h2>Adicionar Material Para Interiores</h2>

    <form action="../Home/Interiors">
        Nome:<br>
        <input type="text" name="" value="">
        <br>
        Quantidade:<br>
        <input type="text" name="" value="">
        <br><br>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>
