.text-muted {
    color: #777
}
.text-primary {
    color: #f64bbe
}
p {
    font-size: 14px;
    line-height: 1.75
}
p.large {
    font-size: 16px
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration:none;
}
a {
    color: #f64bbe
}
a:hover,
a:focus,
a:active,
a.active {
    color: #f20da6
}

h1 {
    position: absolute;
    left: 1170px;
    top: 330px;
}

h2 {
    position: absolute;
    left: 1100px;
    top: 115px;
}

h3 {
    position: absolute;
    left: 660px;
    top: 140px;
}

h4 {
    position: absolute;
    left: 600px;
    top: 200px;
}

h5 {
    position: absolute;
    left: 450px;
    top: 480px;
}

h6 {
    position: absolute;
    left: 50px;
    top: 200px;
}

.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222
}
.btn-primary {
    color: #fff;
    background-color: #f64bbe;
    border-color: #f64bbe;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #f20da6;
    border-color: #e30398
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #f64bbe;
    border-color: #f64bbe
}
.btn-primary .badge {
    color: #f64bbe;
    background-color: #fff
}
.btn-xl {
    color: #fff;
    background-color: #f64bbe;
    border-color: #f64bbe;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #f20da6;
    border-color: #e30398
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #f64bbe;
    border-color: #f64bbe
}
.btn-xl .badge {
    color: #f64bbe;
    background-color: #fff
}

section {
    padding: 100px 0
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px
}
@media (min-width: 768px) {
    section {
        padding: 50px 0
    }
}