
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPainter</title>
</head>
<body>
    <h2>Adicionar Pintor</h2>

    <form action="../Home/PainterList">
        Nome:<br>
        <input type="text" name="" value="">
        <br>
        E-mail:<br>
        <input type="text" name="" value="">
        <br>
        Descrição do Pintor:<br>
        <input type="text" name="" value="">
        <br>
        Password:<br>
        <input type="text" name="" value="">
        <br><br>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>
